* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.tix__container {
    height: 100%;
    margin: 0 auto;
    max-width: 940px;
    padding: 0 20px;
    @media screen and (max-width: 950px) {
        padding: 0 15px;
    }
}

.bg__tix {
    background: url(../../img/back-news.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 120px;
    height: 120px;
    position: relative;
}