* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
}

header {
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    background-color: $color-white-header;

    .header__content {
        .navbar {
            .navbar-brand {
                img {
                    width: 50px;
                    height: 50px;
                }
            }

            #navbarSupportedContent {
                position: relative;

                .header__center {
                    position: absolute;
                    top: 50%;
                    left: 48%;
                    transform: translate(-50%,-50%);
                    display: flex;
                    align-items: center;

                    ul {
                        list-style-type: none;
                        display: flex;
                        align-items: center;

                        li {
                            a {
                                color: $color-black-0;
                                transition: all .2s;
                                text-decoration: none;
                                margin-right: 20px;
                                cursor: pointer;
                                font-size: 14px;
                                line-height: 1.42857143;
                                margin-right: 20px;

                                &:hover {
                                    color: $color-orange-0;
                                }
                            }
                        }
                    }
                }

                .header__right {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    img {
                        height: auto;
                        width: 30px;
                        border-radius: 25px;
                        margin-right: 5px;
                    }

                    span {
                        color: $color-gray-0;
                        position: relative;
                    }

                    .dropdown {
                        display: inline-block;

                        .btn:focus {
                            box-shadow: none;
                        }

                        i {
                            color: $color-gray-0;
                        }

                        #dropdownMenuButton {
                            position: relative;
                            border: 0;
                            margin-left: 10px;
                            padding: 6px 25px;
                            border-radius: 0;
                            border-left: 1px solid $color-gray-0;

                            &::after {
                                position: absolute;
                                top: 50%;
                                right: 0%;
                                transform: translateY(-50%);
                                color: $color-gray-0;
                            }
                        }
                    }
                }
            }
        }
    }
}